@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montlight";
  src: url("/fonts/Mont-ExtraLightDEMO.woff");
}
@font-face {
  font-family: "montheavy";
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}
html,
body,
:root {
  height: 100%;
  background-color: #141414;
}
.map {
  height: 450px;
  width: 750px;
  border: 2px solid #333;
  border-radius: 10px;
}
